.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.form-control {
    width: 200px; /* Set your desired width */
    height: 30px; /* Set your desired height */
}

.loginform{
    width: 300px;
}
.btn{
    width:100px;
}